.emptyPeg {
    height: 4rem;
    width: 4rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 0.2em solid #D7CCC8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pegHole {
    height: 2rem;
    width: 2rem;
    background-color: #D7CCC8;
    border-radius: 2rem;
}

.pegHoleSmall {
    display: none;
}

.small {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.25rem;
}