.incrementor {
    font-size: 2rem;
    display: inline-flex;
    justify-content: space-around;
    width: fit-content;
    max-width: 100%;
    border-radius: 1.5rem;

    border: var(--section-divider-border) 0.2em solid;
    font-weight: bold;
}

.incrementor div {
    padding: 1rem;
    margin: 0 2rem;
}

.button {
    width: 15rem;
}

.hideLabel {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
