.dropdown {
    position: absolute;

    color: var(--color);
    background: var(--background);
    max-width: 80%;
    width: inherit;
    border-radius: 1.5rem;
    border: var(--section-divider-border) 0.35em solid;
    font-size: 1.6rem;
    z-index: 10;
    box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.5);

    transition: visibility 0s ease-in 0s, opacity 0.25s 0s, transform 0.25s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);

    left: 0;
    top: 5rem;
    margin: 1rem;
    padding: 0;

    text-align: left;
}

.alignRight {
    /* text-align: right; */
    left: auto;
    right: 0;
}

.open {
    transition: visibility 0s ease-in 0.25s, opacity 0.25s 0s, transform 0.25s;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.dropdownItem {
    list-style: none;
    border-bottom: var(--section-divider-border) 0.35em solid;
}

.dropdownItem:last-child {
    border-bottom: none;
}

.dropdownItem a,
.dropdownItem p {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    color: var(--color) !important; /* TODO: Fix the CSS maths so this isn't needed */
    text-decoration: none;
    cursor: pointer;
    background: var(--background);
}

.dropdownItem:first-child a,
.dropdownItem:first-child p {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.dropdownItem:last-child a,
.dropdownItem:last-child p {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dropdownItem a:hover,
.dropdownItem p:hover {
    filter: brightness(85%);
}

.dropdownItem a:active,
.dropdownItem p:active {
    filter: brightness(75%);
}
