.peg {
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
    margin: 0.5rem;
    display: inline-flex;
    border:none;
    border: 0.2em solid;
    align-items: center;
    justify-content: center;
}

.small {
    height: 1.5rem;
    width: 1.5rem;
}