.game {
    height: 100vh;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.menuIcon {
    margin-right: 1.5rem;
}

.codeRow {
    border-bottom: var(--section-divider-border) solid 0.4rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    background: var(--background);
    position: sticky;
}

.guessBoard {
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.keyboard {
    background: var(--background);
}
