.game {
    height: 100%;
    display: flex;
    flex-direction: column;

    max-width: 50rem;
    margin: 0 auto;
}

.codeRow {
    border-bottom: var(--section-divider-color) solid 0.4rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 0.5rem 0;
}

.guessBoard {
    flex-grow: 1;
    overflow-y: auto;
}

.keyboard {
    position: sticky;
    bottom: 0;
    background-color: var(--background-color);
}
