.keyboard {
    display: flex;
    flex-direction: column;
    border-top: var(--section-divider-color) solid 0.4rem;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.keyboardLine {
    display: flex;
    justify-content: center;
}
