.keyboard {
    display: flex;
}

.keyboard button {
    padding: 0;
    border: none;
    background: none;
}

.colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.actions {
    width: 4rem;
}