.app {
  text-align: center;
  
  background: var(--background);
  color: var(--color);

  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
  max-height: min-content;
}

.app a {
  color: var(--link-color);
}